<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


    <title>Document</title>
<!-- 
    <script>

        var mymodule = angular.module("kuchModule", []);

        mymodule.controller("kuchController", function ($scope, $http) {

            $scope.jsonArray = [];

            $scope.doFetchAll = function () {
                var url = "/do-fetch-all-users";


                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    //resp in JSON array
                    //alert(JSON.stringify(response.data));
                    $scope.jsonArray = response.data;
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            }
            //----------------------
            $scope.doDelete = function (rid) {

                var url = "/delete-one?ridKuch=" + rid;

                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    alert(response.data);//resp in string
                    $scope.doFetchAll();
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            }


        })

    </script> -->



   <script>

        var mymodule = angular.module("kuchModule", []);

        mymodule.controller("kuchController", function ($scope, $http) {

            $scope.jsonArray = [];

            $scope.doFetchAll = function () {
                // var emailid = $scope.txtEmail8;

                var url = "/do-fetch-all-users?txtEmail8="+localStorage.getItem("activeUser");;
                

                
                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    //resp in JSON array
                    // alert(JSON.stringify(response.data));
                  
                    $scope.jsonArray = response.data;
                   
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            }
            //----------------------
       

        })

    </script>

</head>

<body ng-app="kuchModule" ng-controller="kuchController" ng-init="doFetchAll();">

    <div class="row">
        <div
            style="padding:10px 0px 10px 0px; font-family: Lucida Handwriting	; background-color: #0d6efd; margin-top: 0px;">
            <div style="margin-left: 40px; ">www.kyros.com</div>

        </div>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center;">

        <!-- 
        <input type="button" value="Fetch All Records" style="width: 200px; height: 40px; border-radius: 10px; border: 1px black; background-color:  #dc3545;
             color: white; font-weight: bolder; font-size: 15px; margin-top: 40px; margin-bottom: 20px;"
            ng-click="doFetchAll();"> -->

        <div style="margin-top: 45px; margin-bottom: 30px; font-size: 30px;">All Records</div>
        <table width="1100" border="1" rules="all">
            <tr>
                <th style="padding: 20px; background-color: rgb(40,40,40);">Sr.No</th>
                <th style="background-color: rgb(40,40,40);">Email Id</th>
                <th style="background-color: rgb(40,40,40);">Event</th>
                <th style="background-color: rgb(40,40,40);">Date</th>
                <!-- <th style="background-color: rgb(40,40,40);">Time</th> -->
                <th style="background-color: rgb(40,40,40);">
                    City
                </th>
                <th style="background-color: rgb(40,40,40);">Sports</th>
                <th style="background-color: rgb(40,40,40);">MinAge</th>
                <th style="background-color: rgb(40,40,40);">MaxAge</th>
                <th style="background-color: rgb(40,40,40);">Prize</th>
                <th style="background-color: rgb(40,40,40);">Contact</th>
                <th style="background-color: rgb(40,40,40);">Remove</th>
            </tr>
            <tr ng-repeat="obj in jsonArray">
                <td>{{$index+1}}</td>
                <!-- <td>{{obj.rid}}</td> -->
                <td>{{obj.emailid}}</td>
                <td>{{obj.event}}</td>
                <td>{{obj.doi}}</td>
                <!-- <td>{{obj.toe}}</td> -->
                <td>{{obj.city}}</td>
                <td>{{obj.sports}}</td>
                <td>{{obj.minage}}</td>
                <td>{{obj.maxage}}</td>
                <td>{{obj.prize}}</td>
                <td>{{obj.conatact}}</td>


                <th>
                    <input type="button" ng-click="doDelete(obj.rid);" value="Delete"
                        style="border: 1px black; border-radius: 5px; background-color: #dc3545; color:white; height: 30px;">
                </th>

            </tr>
        </table>



    </div>




    <style>
        body {
            background-color: #1e1e2f;
            color: #fff;
            font-family: sans-serif;
            margin: 0px;

        }

        table {
            width: 100%;
            /* border-collapse: collapse; */
            box-shadow: 1px 1px 10px rgb(252, 251, 251);
            width: 95%;
            margin-bottom: 60px;


        }

        th,
        td {
            padding: 12px 4px;
            border: 1px solid #444;
        }

        th {
            background-color: #2e2e3e;
        }

        tbody tr {
            background-color: #2a2a3a;
        }

        tbody tr:hover {
            background-color: #3a3a4a;
        }
    </style>



</body>

</html>